body {
    margin:0;
    padding:0;
    background:black;
    box-sizing: border-box;
}

.button-container {
    display:flex;
    justify-content: center;
}

.form form {
    
    padding:12px;
    background:gray;
    
}

.form.popup {
    position:fixed;
    z-index:9;
    left:35%;
    opacity:1;
}


.card-container {
    display:grid;
    gap:12px;
    grid-template-columns: repeat(auto-fit , minmax(200px , 25%));
}

h2 {
    font-size: 18px;
}

.card {
    height: 200px;
    background:#feffed;
    border:1px solid black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}




ul .submit {
    display:flex;
    justify-content: center;
}
ul li {
    list-style:none;
    display:grid;
    grid-template-columns: 100px 1fr;
    gap:8px;
}

label {
    justify-self: end;
}

.form {
    display:flex;
    justify-content: center;
    padding:32px;
    opacity:0;
}